{% extends 'base.html' %}
{% block title %}Ro'yaxtdan o'tish{% endblock title %}

{% block content %}
<div class="py-3 bg-primary">
  <div class="container">
    <a class="text-white" href="{% url 'home' %}">Bosh sahifa /</a>
    <a class="text-white" href="{% url 'register' %}">Ro'yxatdan o'tish /</a>
  </div>
</div>

<div class="container mt-5 py-5">
  <div class="row justify-content-center animate__animated animate__fadeInUp">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow-lg rounded-4">
        <div class="card-body">
          <h3 class="text-center mb-4">Ro'yxatdan O'tish</h3>

          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="d-flex justify-content-between align-items-center mt-3">
              <button type="submit" class="btn btn-primary w-48">Yuborish</button>
              <p class="m-0">Accountingiz bormi? <a href="{% url 'login' %}">Kirish</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
