{% extends 'base.html' %}
{% block title %}Mahsulotni o'chirish{% endblock title %}

{% block content %}
<div class="py-3 bg-primary">
  <div class="container">
    <a class="text-white" href="{% url 'home' %}">Bosh sahifa /</a>
    <a class="text-white" href="{% url 'deleteproduct' %}">Mahsulotni o'chirish /</a>
  </div>
</div>

<div class="container mt-5 py-5">
  <div class="row justify-content-center animate__animated animate__fadeInUp">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow-lg rounded-4">
        <div class="card-body">
          <h3 class="text-center mb-4">Mahsulotni o'chirish</h3>

          <form method="POST">
            {% csrf_token %}
            <h4 class="text-center">{{ product.name }}</h4>
            <p class="text-center">Siz rostdanham mahsulotni o'chirishni xohlaysizmi?</p>

            <div class="d-flex justify-content-between align-items-center mt-3">
              <button type="submit" class="btn btn-danger w-100">O'chirish</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
