{% extends 'base.html' %}
{% block title %}Mahsulotni tahrirlash{% endblock title %}

{% block content %}
<div class="py-3 bg-primary">
  <div class="container">
    <a class="text-white" href="{% url 'home' %}">Bosh sahifa /</a>
    <a class="text-white" href="{% url 'editproduct' %}">Mahsulotni tahrirlash /</a>
  </div>
</div>

<div class="container mt-5 py-5">
  <div class="row justify-content-center animate__animated animate__fadeInUp">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow-lg rounded-4">
        <div class="card-body">
          <h3 class="text-center mb-4">Mahsulotni tahrirlash</h3>

          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="d-flex justify-content-between align-items-center mt-3">
              <button type="submit" class="btn btn-success w-100">O'zgartirish</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
