{% extends 'base.html' %}
{% load static %}

{% block title %} Kategoriyalar {% endblock %}

{% block content %}
    <!-- Xamkorlik bo'limi -->
    <div class="py-3 bg-light">
        <div class="container">
            <a class="text-dark" href="{% url 'home' %}">Bosh sahifa /</a>
            <a class="text-dark" href="{% url 'cat' %}">Kategoriyalar /</a>
            <a class="text-dark" href="{% url 'cat' %}">{{ category_name.name }} </a>
        </div>
    </div>

    <!-- Mahsulotlar ro'yxati -->
    <div class="container py-3">
        <div class="row">
            <div class="col-12">
                <hr>
                <div class="row">
                    {% for product in products %}
                    <div class="col-md-3">
                        <div class="card shadow-sm">
                            <a href="{% url 'productdet' product.category.slug product.slug %}">
                                <div class="card-body">
                                    <div class="category-image">
                                        {% if product.product_image %}
                                            <img src="{{ product.product_image.url }}" alt="{{ product.name }}" class="w-100" style="height:250px;">
                                        {% else %}
                                            <p>Rasm mavjud emas</p>
                                        {% endif %}
                                    </div>

                                    <h4 class="text-center">{{ product.name|slice:16 }}</h4>
                                    <span class="float-start">{{ product.original_price|stringformat:'d' }} so'm</span>
                                    <span class="float-end">{{ product.selling_price|stringformat:'d' }} so'm</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
